<div class="jumbotron jumbotron-fluid my-0 py-4">
          <div class="container">
              <h1 class="display-3">Search for a league</h1>
              <hr class="my-2">
          </div>
      </div>
      <div class="container-fluid d-flex h-100 flex-column my-4">
        <div class="row justify-content-center">
            <div class="col-lg-2 mx-4" style="border: 2px solid red; ">
                <div class="row">
                    <div class="col p-2" style="background-color: #E9ECEF; border-bottom: 2px solid black;">
                        <h4>
                            League Criteria
                        </h4>
                    </div>
                </div>
                <div class="row justify-content-center py-4">
                    <div class="col-md-10">
                        <form action="">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" type="text" placeholder="Search League Name" aria-label="Search">
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Gender
                                                </button>
                                            </h2>
                                            </div>

                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                            <select class="form-control">
                                                <option value="one">Boy</option>
                                                <option value="two">Girl</option>
                                            </select>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Sports
                                                </button>
                                            </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body" style="height: auto;">
                                            <select class="form-control">
                                                <option value="one">Baseball</option>
                                                <option value="two">Soccer</option>
                                            </select>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mx-4" style="border: 2px solid red;">
                <div class="row">
                    <div class="col p-2" style="background-color: #E9ECEF; border-bottom: 2px solid black;">
                        <h4>
                            Leagues to Join:
                        </h4>
                    </div>
                </div>
                <div class="row my-4 mx-3 py-2 px-3" style="border: 2px solid black;">
                    <div class="col">
                        <ul class="list-group list-group-horizontal align-items-stretch flex-wrap" id="searchCardArea">
                                <li class="list-group-item border-0">
                                    <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">League 1</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt velit quae incidunt soluta. Fugit corrupti rem ut incidunt quod ipsa inventore ex modi vero, officia repudiandae praesentium optio veritatis eum?</p>
                                        <button   class="btn btn-secondary btn-lg active leaguePageBtn" role="button" aria-pressed="true">League page</button>
                                        <button   class="btn btn-primary btn-lg active leaguePageBtn" role="button" aria-pressed="true">Register</button>
                                    </div>
                                    </div>
                                </li>
                                <li class="list-group-item border-0">
                                  <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">League 1</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt velit quae incidunt soluta. Fugit corrupti rem ut incidunt quod ipsa inventore ex modi vero, officia repudiandae praesentium optio veritatis eum?</p>
                                        <button   class="btn btn-secondary btn-lg active leaguePageBtn" role="button" aria-pressed="true">League page</button>
                                        <button   class="btn btn-primary btn-lg active leaguePageBtn" role="button" aria-pressed="true">Register</button>
                                    </div>
                                </div>
                                </li>
                                <li class="list-group-item border-0">
                                  <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">League 1</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt velit quae incidunt soluta. Fugit corrupti rem ut incidunt quod ipsa inventore ex modi vero, officia repudiandae praesentium optio veritatis eum?</p>
                                        <button   class="btn btn-secondary btn-lg active leaguePageBtn" role="button" aria-pressed="true">League page</button>
                                        <button   class="btn btn-primary btn-lg active leaguePageBtn" role="button" aria-pressed="true">Register</button>
                                    </div>
                                </div>
                                </li>
                                <li class="list-group-item border-0">
                                  <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">League 1</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt velit quae incidunt soluta. Fugit corrupti rem ut incidunt quod ipsa inventore ex modi vero, officia repudiandae praesentium optio veritatis eum?</p>
                                        <button   class="btn btn-secondary btn-lg active leaguePageBtn" role="button" aria-pressed="true">League page</button>
                                        <button   class="btn btn-primary btn-lg active leaguePageBtn" role="button" aria-pressed="true">Register</button>
                                    </div>
                                </div>
                                </li>
                                <li class="list-group-item border-0">
                                  <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">League 1</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt velit quae incidunt soluta. Fugit corrupti rem ut incidunt quod ipsa inventore ex modi vero, officia repudiandae praesentium optio veritatis eum?</p>
                                        <button   class="btn btn-secondary btn-lg active leaguePageBtn" role="button" aria-pressed="true">League page</button>
                                        <button   class="btn btn-primary btn-lg active leaguePageBtn" role="button" aria-pressed="true">Register</button>
                                    </div>
                                </div>
                                </li>
                                <li class="list-group-item border-0">
                                  <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">League 1</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt velit quae incidunt soluta. Fugit corrupti rem ut incidunt quod ipsa inventore ex modi vero, officia repudiandae praesentium optio veritatis eum?</p>
                                        <button   class="btn btn-secondary btn-lg active leaguePageBtn" role="button" aria-pressed="true">League page</button>
                                        <button   class="btn btn-primary btn-lg active leaguePageBtn" role="button" aria-pressed="true">Register</button>
                                    </div>
                                </div>
                                </li>
                                <li class="list-group-item border-0">
                                  <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">League 1</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt velit quae incidunt soluta. Fugit corrupti rem ut incidunt quod ipsa inventore ex modi vero, officia repudiandae praesentium optio veritatis eum?</p>
                                        <button   class="btn btn-secondary btn-lg active leaguePageBtn" role="button" aria-pressed="true">League page</button>
                                        <button   class="btn btn-primary btn-lg active leaguePageBtn" role="button" aria-pressed="true">Register</button>
                                    </div>
                                </div>
                                </li>
                                <li class="list-group-item border-0">
                                  <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">League 1</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt velit quae incidunt soluta. Fugit corrupti rem ut incidunt quod ipsa inventore ex modi vero, officia repudiandae praesentium optio veritatis eum?</p>
                                        <button   class="btn btn-secondary btn-lg active leaguePageBtn" role="button" aria-pressed="true">League page</button>
                                        <button   class="btn btn-primary btn-lg active leaguePageBtn" role="button" aria-pressed="true">Register</button>
                                    </div>
                                </div>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>